html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat',Arial,Helvetica,sans-serif;
}

a {
  color: #1592e6;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p, ul, li, a {margin-top: auto;  margin-bottom: auto;}

.standard-wrap {
  max-width: 1280px;
  margin: 0 auto;
  
}

.menu.standard-wrap {display: flex; justify-content: space-between; width: 100%;}
header {background: #121212; color: #fff;} 
main {margin-top: 10px;}


.popUp {position: fixed; display: block; margin: 0!important; right: 120px; top: 60px;}
.popUp.actions {display: flex;}

.CarsHorisontBox {    display: flex; justify-content: space-between; border: 1px solid #dfdfdf; border-radius: 5px; margin-bottom: 30px;}
.CarsHorisontBoxImage img { max-width: 400px; }
.userIcon svg {width: 14px; height: 16px;}
.pages {border-top: 60px solid #231f20;}
/* .baner {background-image: url('/bg-garage.jpg') ; background-size: cover; height: calc(100vh - 70px);  width: 100%;   background-position: center;} */

h1 {
  text-align: left;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
    margin: 60px 0;
}

.pages .popUp  {max-width: 400px;}
.alert {font-weight: 700; font-size: 20px;}